Repository crowdin/mobile-sdk-android: changes, and which Azure pipelines are due for each by the changed paths.
All: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

ci/azure-pipelines-ubuntu.yml:

trigger:
  branches:
    include:
    - refs/heads/*
    exclude:
    - refs/tags/*
  paths:
    exclude:
    - README.md
    - LICENSE
    - CONTRIBUTING.md
    - CODE_OF_CONDUCT.md

jobs:
  - template: templates/jobs.yml
    parameters:
      name: Linux
      vmImage: 'ubuntu-latest'

ci/basic.yml:

trigger:
  branches:
    include:
    - refs/heads/*
    - refs/tags/*
  paths:
    exclude:
    - README.md
    - LICENSE

jobs:
  - job: Build
    pool:
      vmImage: ubuntu-latest
    steps:
      - task: Gradle@2
        displayName: 'Gradle build'
        inputs:
          workingDirectory: ''
          gradleWrapperFile: 'gradlew'
          gradleOptions: '-Xmx3072m'
          javaHomeOption: 'JDKVersion'
          jdkVersionOption: '1.11'
          jdkArchitectureOption: 'x64'
          publishJUnitResults: false
          tasks: 'build'
      - script: |
          ./gradlew ktlint
        displayName: 'Validate code style'

  - job: Test
    dependsOn:
      - Build
    condition: succeeded()
    pool:
      vmImage: ubuntu-latest
    steps:
      - task: Gradle@2
        displayName: 'Running tests'
        inputs:
          workingDirectory: ''
          gradleWrapperFile: 'gradlew'
          gradleOptions: '-Xmx3072m'
          javaHomeOption: 'JDKVersion'
          jdkVersionOption: '1.11'
          jdkArchitectureOption: 'x64'
          publishJUnitResults: true
          testResultsFiles: '**/TEST-*.xml'
          tasks: 'build'
      - script: |
          ./gradlew jacocoTestReport
          ./gradlew connectedCheck
        displayName: 'Generating code coverage report'
      - bash: |
          bash <(curl -s https://codecov.io/bash) -t $(CODECOV_TOKEN)
        displayName: 'Upload coverage to codecov.io'

  - job: Publish
    dependsOn:
      - Test
    condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags/'))
    pool:
      vmImage: ubuntu-latest
    steps:
      - task: Gradle@2
        displayName: 'Publish to maven'
        inputs:
          workingDirectory: ''
          gradleWrapperFile: 'gradlew'
          gradleOptions: '-Xmx3072m'
          javaHomeOption: 'JDKVersion'
          jdkVersionOption: '1.11'
          jdkArchitectureOption: 'x64'
          publishJUnitResults: true
          testResultsFiles: '**/TEST-*.xml'
          tasks: 'build'
      - script: |
          ./gradlew -Pbintray.user=$(BINTRAY_LOGIN) -Pbintray.key=$(BINTRAY_TOKEN) bintrayUpload
        displayName: 'Publishing to maven and jcenter'

- fix case when country empty;
  crowdin/src/main/java/com/crowdin/platform/data/remote/BaseRepository.kt
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

- add support for country/regions;
  crowdin/src/main/java/com/crowdin/platform/data/remote/BaseRepository.kt
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

- add crowdin supported language codes;
  crowdin/src/main/java/com/crowdin/platform/data/remote/BaseRepository.kt
  crowdin/src/main/java/com/crowdin/platform/data/remote/TranslationDataRepository.kt
  crowdin/src/main/java/com/crowdin/platform/util/Extensions.kt
  crowdin/src/main/java/com/crowdin/platform/util/SupportedLanguages.kt
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

- update unit tests;
  crowdin/src/test/java/com/crowdin/platform/TranslationDataRepositoryTest.kt
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

- update interval time to seconds;
  crowdin/src/main/java/com/crowdin/platform/CrowdinConfig.kt
  example/src/main/java/com/crowdin/platform/example/App.kt
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

- update readme;
  README.md
Due: none

Fix for realTime Preview
  crowdin/src/main/java/com/crowdin/platform/data/DataManager.kt
  crowdin/src/main/java/com/crowdin/platform/realtimeupdate/EchoWebSocketListener.kt
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

Fix for MemoryLocalRepository
  crowdin/src/main/java/com/crowdin/platform/data/local/MemoryLocalRepository.kt
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

Fix tests DataManager
  crowdin/src/test/java/com/crowdin/platform/DataManagerTest.kt
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

- add support for country/regions; (#41)
  crowdin/src/main/java/com/crowdin/platform/data/DataManager.kt
  crowdin/src/main/java/com/crowdin/platform/data/local/MemoryLocalRepository.kt
  crowdin/src/main/java/com/crowdin/platform/data/remote/BaseRepository.kt
  crowdin/src/main/java/com/crowdin/platform/data/remote/TranslationDataRepository.kt
  crowdin/src/main/java/com/crowdin/platform/realtimeupdate/EchoWebSocketListener.kt
  crowdin/src/main/java/com/crowdin/platform/util/Extensions.kt
  crowdin/src/main/java/com/crowdin/platform/util/SupportedLanguages.kt
  crowdin/src/test/java/com/crowdin/platform/DataManagerTest.kt
  crowdin/src/test/java/com/crowdin/platform/TranslationDataRepositoryTest.kt
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

Add files via upload
  mobile-sdk-android-master.zip
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

- update unit tests;
  crowdin/src/main/java/com/crowdin/platform/Crowdin.kt
  crowdin/src/main/java/com/crowdin/platform/auth/AuthActivity.kt
  crowdin/src/main/java/com/crowdin/platform/data/local/MemoryLocalRepository.kt
  crowdin/src/test/java/com/crowdin/platform/MemoryLocalRepositoryTest.kt
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

- add progress view when url loading;
  crowdin/src/main/java/com/crowdin/platform/auth/AuthActivity.kt
  crowdin/src/main/res/layout/auth_layout.xml
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

- add new dialog before redirection to crowdin auth;
  crowdin/src/main/java/com/crowdin/platform/Crowdin.kt
  crowdin/src/main/java/com/crowdin/platform/util/UiUtil.kt
  crowdin/src/main/res/values/strings.xml
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

- open socket connection when user already authorized; - update auth dialog description;
  crowdin/src/main/java/com/crowdin/platform/Crowdin.kt
  crowdin/src/main/java/com/crowdin/platform/auth/AuthActivity.kt
  crowdin/src/main/res/values/strings.xml
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

Update build.gradle
  crowdin/build.gradle
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

Update README.md
  README.md
Due: none

Version 1.1.4 (#50)
  README.md
  crowdin/build.gradle
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

Badges update
  README.md
Due: none

[#67] Realtime preview not working when change language from device setting;
  crowdin/src/main/java/com/crowdin/platform/Crowdin.kt
  crowdin/src/main/java/com/crowdin/platform/util/Extensions.kt
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

- reload translation on configuration change event; - update gradle version;
  build.gradle
  crowdin/src/main/java/com/crowdin/platform/Crowdin.kt
  example/src/main/java/com/crowdin/platform/example/App.kt
  gradle/wrapper/gradle-wrapper.properties
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

- add default getResources method;
  crowdin/src/main/java/com/crowdin/platform/Crowdin.kt
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

Add solution to installation error
  README.md
Due: none

Optimize solution for GSON conflicts.
  README.md
Due: none

Update words to clear Installation guide
  README.md
Due: none

- add factory for reader object with two types XML/JSON; - code refactor; - update unit tests;
  crowdin/src/main/java/com/crowdin/platform/Crowdin.kt
  crowdin/src/main/java/com/crowdin/platform/data/parser/JsonReader.kt
  crowdin/src/main/java/com/crowdin/platform/data/parser/Reader.kt
  crowdin/src/main/java/com/crowdin/platform/data/parser/ReaderFactory.kt
  crowdin/src/main/java/com/crowdin/platform/data/parser/XmlReader.kt
  crowdin/src/main/java/com/crowdin/platform/data/remote/MappingRepository.kt
  crowdin/src/main/java/com/crowdin/platform/data/remote/StringDataRemoteRepository.kt
  crowdin/src/main/java/com/crowdin/platform/data/remote/TranslationDataRepository.kt
  crowdin/src/test/java/com/crowdin/platform/MappingRepositoryTest.kt
  crowdin/src/test/java/com/crowdin/platform/StringDataRemoteRepositoryTest.kt
  crowdin/src/test/java/com/crowdin/platform/StubResponseBody.kt
  crowdin/src/test/java/com/crowdin/platform/TranslationDataRepositoryTest.kt
  crowdin/src/test/java/com/crowdin/platform/XmlReaderTest.kt
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

Readme, contributing update
  CONTRIBUTING.md
  README.md
Due: ci/basic.yml

- remove unused code
  crowdin/src/main/java/com/crowdin/platform/data/parser/JsonReader.kt
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

- load mapping as a last SDK initialization step;
  crowdin/src/main/java/com/crowdin/platform/Crowdin.kt
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

Update .gitignore
  example/.gitignore
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml

Version 1.1.5
  README.md
  crowdin/build.gradle
Due: ci/azure-pipelines-ubuntu.yml, ci/basic.yml
